<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">

	<event name="controller_front_send_response_before">
       <observer name="easymaintenance_observer" instance="Biztech\Easymaintenance\Observer\Observer" />
	</event>

</config>