<!--@subject {{var store.getFrontendName()}} Customer Feedback @-->
<!--@vars
{"var data.feedbackbuname":"Sender Name",
"var data.feedbackmail":"Sender Email",
"var data.feedbackheard":"Where did you heard about us :",
"var data.feedbackdetails":"Message"
}
@-->
{{template config_path="design/email/header_template"}}

	Name: {{var data.feedbackbuname}}
	<br/>
	E-mail: {{var data.feedbackmail}}
	<br/>
	Where did you heard about us : {{var data.feedbackheard}}
	<br/>
	Comment: {{var data.feedbackdetails}}

{{template config_path="design/email/footer_template"}}