<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_Blog
 * @author      Webkul
 * @copyright   Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */ -->
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <Content>
                <character>
                    <limit>50</limit>
                    <options>1</options>
                    <bloggerapproval>1</bloggerapproval>
                    <blogapproval>1</blogapproval>
                </character>
                <email_settings>
                    <status_waiting_notification>Content_email_settings_status_waiting_notification</status_waiting_notification>
                    <status_permitted_notification>Content_email_settings_status_permitted_notification</status_permitted_notification>
                    <comment_approval_notification>Content_email_settings_comment_approval_notification</comment_approval_notification>
                    <comment_status_waiting_notification>Content_email_settings_comment_status_waiting_notification</comment_status_waiting_notification>
                    <status_notpermitted_notification>Content_email_settings_status_notpermitted_notification</status_notpermitted_notification>
                    <blog_notification>Content_email_settings_blog_notification</blog_notification>
                    <blog_approval_request>Content_email_settings_blog_approval_request</blog_approval_request>
                    <comment_onblog_notification>Content_email_settings_comment_onblog_notification</comment_onblog_notification>
                </email_settings>
            </Content>
        </default>
    </config>