<?xml version="1.0"?>
<!--
/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_MpBraintree
* @author    Webkul
* @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_mpbraintree">
        <observer name="mpbraintree_gateway_data_assign" instance="Webkul\MpBraintree\Observer\DataAssignObserver" />
    </event>

    <event name="customer_register_success">
        <observer name="mpbraintree_customer_register" instance="Webkul\MpBraintree\Observer\CustomerRegister" />
    </event>

    <event name="sales_order_save_after">
        <observer name="webkul_create_invoice_for_braintree_payment" instance="Webkul\MpBraintree\Observer\CheckoutAllSubmitAfterObserver"/>
    </event>

    <event name="customer_account_edited">
        <observer name="mpbraintree_after_customer_save" instance="Webkul\MpBraintree\Observer\AfterCustomerSave" />
    </event>

    <event name="checkout_submit_all_after">
        <observer name="webkul_mpbraintree_sales_order_save_commit_after_observer" instance="Webkul\MpBraintree\Observer\SalesOrderSaveCommitAfterObserver" />
    </event>

</config>
